# Default ignored files
/../../Python. Start./.idea/shelf/
/../../Python. Start./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Python. Start./.idea/httpRequests/
# Datasource local storage ignored files
/../../Python. Start./.idea/dataSources/
/../../Python. Start./.idea/dataSources.local.xml
